// Style Guide: Colours
$bg-color: #000000cc;
$bg-color-light: #30343f;
$text-color: #fff;

$color-1: #1a90cd;
$color-2: #cd571a;
$color-3: #1db954;
$color-4: #b91d82;

// Spacers
$spacer-small: 1rem;
$spacer-medium: 2rem;
$spacer-large: 4rem;
$spacer-x-large: 8rem;
